body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    width: 500px;
    height: 500px;
}

.grid {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
}

button {
    margin-bottom: 30px;
    padding: 20px;
    margin-right: 10px;
    margin-top: 20px;
}